[submodule "mdp_ros"]
	path = mdp_ros
	url = git@github.com:Alvin0523/mdp_ros.git
	branch = main
[submodule "mdp_stm32"]
	path = mdp_stm32
	url = git@github.com:Alvin0523/mdp_stm32.git
	branch = main
